<html>
  <head>
    <title><%= details.name %></title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
  </head>

  <body>
    <a href='/'>Home</a>

    <h1>Details page for: <%= details.name %></h1>

    <img alt='image of cat' src=<%= details.image %> >

    <p>Age: <%= details.age %> </p>

    <p>Favorite food: <%= details.favorite_food %> </p>

    <p>Sleeping spots:
        <ul>
          <% for(var x in details.sleeping_spots){ %>
            <li><%= details.sleeping_spots[x].name %></li>
          <% } %>
        </ul>
      </p>

  </body>
</html>